[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1mVDNLc9ubhIXeS_iPVG0HC7f5oEZIVcn?usp=sharing)

Download [TKO](http://tko.ccbr.utoronto.ca/) HeLa data.

In [1]:
! wget http://tko.ccbr.utoronto.ca/Data/readcount-HeLa-lib1.gz
! wget http://tko.ccbr.utoronto.ca/Data/readcount-HeLa-lib2.gz
! gunzip readcount-HeLa-lib1.gz
! gunzip readcount-HeLa-lib2.gz

--2022-06-01 18:41:53--  http://tko.ccbr.utoronto.ca/Data/readcount-HeLa-lib1.gz
Resolving tko.ccbr.utoronto.ca (tko.ccbr.utoronto.ca)... 142.150.76.126
Connecting to tko.ccbr.utoronto.ca (tko.ccbr.utoronto.ca)|142.150.76.126|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2877516 (2.7M) [application/x-gzip]
Saving to: ‘readcount-HeLa-lib1.gz’

readcount-HeLa-lib1 100%[===================>]   2.74M  2.37MB/s    in 1.2s

2022-06-01 18:41:55 (2.37 MB/s) - ‘readcount-HeLa-lib1.gz’ saved [2877516/2877516]

--2022-06-01 18:41:55--  http://tko.ccbr.utoronto.ca/Data/readcount-HeLa-lib2.gz
Resolving tko.ccbr.utoronto.ca (tko.ccbr.utoronto.ca)... 142.150.76.126
Connecting to tko.ccbr.utoronto.ca (tko.ccbr.utoronto.ca)|142.150.76.126|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2680113 (2.6M) [application/x-gzip]
Saving to: ‘readcount-HeLa-lib2.gz’

readcount-HeLa-lib2 100%[===================>]   2.56M  2.10MB/s    in 1.2s

2022-06-01 18:41:56 (2.10 MB/s) - ‘readcount-HeLa-lib2.gz’ saved [2680113/2680113]

In [2]:
! head readcount-HeLa-lib1

GENE_CLONE	GENE	T08A	T08B	T08C	T12A	T12B	T12C	T15A	T15B	T15C	T18A	T18B	T18C	T0
A1BG_CACCTTCGAGCTGCTGCGCG	A1BG	310	226	338	356	249	224	186	60	296	125	49	296	469
A1BG_AAGAGCGCCTCGGTCCCAGC	A1BG	46	1	0	7	22	142	0	1	52	0	1	52	213
A1BG_TGGACTTCCAGCTACGGCGC	A1BG	239	216	285	117	244	116	172	298	269	119	250	269	363
A1BG_CACTGGCGCCATCGAGAGCC	A1BG	289	83	166	164	111	14	184	160	214	122	137	214	678
A1BG_GCTCGGGCTTGTCCACAGGA	A1BG	205	34	217	205	148	355	326	100	432	212	85	432	559
A1BG_CAAGAGAAAGACCACGAGCA	A1BG	389	331	468	1074	364	158	664	286	499	464	235	499	647
A1CF_CGTGGCTATTTGGCATACAC	A1CF	452	240	390	630	509	261	471	255	301	322	210	301	898
A1CF_GGTATACTCTCCTTGCAGCA	A1CF	71	30	29	119	155	153	131	76	56	94	61	56	199
A1CF_GACATGGTATTGCAGTAGAC	A1CF	207	227	223	118	141	173	176	198	42	118	166	42	271

In [3]:
! pip install anndata

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting anndata
  Downloading anndata-0.8.0-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 386 kB/s
Requirement already satisfied: natsort in /usr/local/lib/python3.7/dist-packages (from anndata) (5.5.0)
Requirement already satisfied: scipy>1.4 in /usr/local/lib/python3.7/dist-packages (from anndata) (1.4.1)
Requirement already satisfied: pandas>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from anndata) (1.3.5)
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.7/dist-packages (from anndata) (4.2.0)
Requirement already satisfied: h5py>=3 in /usr/local/lib/python3.7/dist-packages (from anndata) (3.1.0)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.7/dist-packages (from anndata) (21.3)
Requirement already satisfied: importlib_metadata>=0.7 in /usr/local/lib/python3.7/dist-packages (from anndata) (4.11.4)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from anndata) (1.21.6)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=3->anndata) (1.5.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib_metadata>=0.7->anndata) (3.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20->anndata) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.1->anndata) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.1->anndata) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1.1->anndata) (1.15.0)
Installing collected packages: anndata
Successfully installed anndata-0.8.0

In [4]:
import pandas as pd
import anndata as ad

In [5]:
tbl = pd.read_csv("readcount-HeLa-lib1", sep = "\t")
tbl2 = pd.read_csv("readcount-HeLa-lib2", sep = "\t")

In [6]:
tbl

,GENE_CLONE,GENE,T08A,T08B,T08C,T12A,T12B,T12C,T15A,T15B,T15C,T18A,T18B,T18C,T0
0,A1BG_CACCTTCGAGCTGCTGCGCG,A1BG,310,226,338,356,249,224,186,60,296,125,49,296,469
1,A1BG_AAGAGCGCCTCGGTCCCAGC,A1BG,46,1,0,7,22,142,0,1,52,0,1,52,213
2,A1BG_TGGACTTCCAGCTACGGCGC,A1BG,239,216,285,117,244,116,172,298,269,119,250,269,363
3,A1BG_CACTGGCGCCATCGAGAGCC,A1BG,289,83,166,164,111,14,184,160,214,122,137,214,678
4,A1BG_GCTCGGGCTTGTCCACAGGA,A1BG,205,34,217,205,148,355,326,100,432,212,85,432,559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91315,luciferase_CCTCTAGAGGATGGAACCGC,luciferase,153,101,264,121,155,317,245,103,490,165,88,490,200
91316,luciferase_ACAACTTTACCGACCGCGCC,luciferase,159,101,152,363,232,412,216,441,248,159,378,248,170
91317,luciferase_CTTGTCGTATCCCTGGAAGA,luciferase,508,479,248,206,294,631,421,394,386,270,331,386,566
91318,luciferase_GGCTATGAAGAGATACGCCC,luciferase,97,50,10,0,14,61,29,33,23,19,28,23,3
91319,luciferase_GGCATGCGAGAATCTGACGC,luciferase,91,115,130,218,60,54,5,88,120,4,76,120,390

In [7]:
def make_anndata(tbl):
  sample_df = pd.DataFrame(tbl.columns[2:]).rename(columns={0:"sample"}).set_index("sample")
  sample_df["replicate"] = sample_df.index.str[-1]
  sample_df["time"] = sample_df.index.str[1:-1].map(lambda s: int(s) if s else -1)
  return ad.AnnData(X=tbl.values[:,2:], obs=tbl.iloc[:,:2], 
                   var=sample_df)

In [8]:
adata = make_anndata(tbl)
bdata = make_anndata(tbl2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: X.dtype being converted to np.float32 from object. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.

/usr/local/lib/python3.7/dist-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [9]:
adata

AnnData object with n_obs × n_vars = 91320 × 13
    obs: 'GENE_CLONE', 'GENE'
    var: 'replicate', 'time'

In [14]:
adata.obs

                            GENE_CLONE        GENE
0            A1BG_CACCTTCGAGCTGCTGCGCG        A1BG
1            A1BG_AAGAGCGCCTCGGTCCCAGC        A1BG
2            A1BG_TGGACTTCCAGCTACGGCGC        A1BG
3            A1BG_CACTGGCGCCATCGAGAGCC        A1BG
4            A1BG_GCTCGGGCTTGTCCACAGGA        A1BG
...                                ...         ...
91315  luciferase_CCTCTAGAGGATGGAACCGC  luciferase
91316  luciferase_ACAACTTTACCGACCGCGCC  luciferase
91317  luciferase_CTTGTCGTATCCCTGGAAGA  luciferase
91318  luciferase_GGCTATGAAGAGATACGCCC  luciferase
91319  luciferase_GGCATGCGAGAATCTGACGC  luciferase

[91320 rows x 2 columns]

In [21]:
adata.var

       replicate  time
sample
T08A           A     8
T08B           B     8
T08C           C     8
T12A           A    12
T12B           B    12
T12C           C    12
T15A           A    15
T15B           B    15
T15C           C    15
T18A           A    18
T18B           B    18
T18C           C    18
T0             0    -1

In [10]:
bdata

AnnData object with n_obs × n_vars = 85180 × 13
    obs: 'GENE_CLONE', 'GENE'
    var: 'replicate', 'time'

In [15]:
bdata.obs

                      GENE_CLONE  GENE
0      A1BG_TCGCTCAGAATCAGCTCGAC  A1BG
1      A1BG_TCTCCATGGTGCATCAGCAC  A1BG
2      A1BG_AGCTGCAGCTACCGGACCGA  A1BG
3      A1BG_ACCTTTCCAGTCCATCAGCC  A1BG
4      A1BG_GCAAGCTCCTGGAGCTGACA  A1BG
...                          ...   ...
85175  ZZZ3_TAGCAGATGAATTGGGCAAC  ZZZ3
85176  ZZZ3_CGAGATTCTACTTCTTCAGG  ZZZ3
85177  ZZZ3_CTCTGAGAACCTCACCACGA  ZZZ3
85178  ZZZ3_GGTTCAGGTTCTCCGGAGGC  ZZZ3
85179  ZZZ3_GAGCCTGTGCCAATTCAGAA  ZZZ3

[85180 rows x 2 columns]

### Slicing

In [23]:
adata_cut = adata[adata.obs.GENE == "A1BG", :]
adata_cut

View of AnnData object with n_obs × n_vars = 6 × 13
    obs: 'GENE_CLONE', 'GENE'
    var: 'replicate', 'time'

In [22]:
adata_t8 = adata[:, adata.var.time == 8]
adata_t8

View of AnnData object with n_obs × n_vars = 91320 × 3
    obs: 'GENE_CLONE', 'GENE'
    var: 'replicate', 'time'

### Writing

In [24]:
adata.write("HeLa_lib1.h5ad")